<DOCTYPE html>
<html lang="es">
<head>
	<title>Footer</title>
    <link rel="stylesheet" type="text/css" href="../css/footer.css">
</head>
<body>
	<center>
	<div id="foot">

		<div class="divfoot">
			<span class="spanfoot">Servicios</span>

        <ul>
        	<a href="../html/Tutoriales.html" target="_parent">Speeds Runs</a><br/>
			<a href="../html/tabladeprecios.html" target="_parent">Tabla de precios</a><br/>
			<a href="../html/Paginas de juegos.html" target="_parent">Pagina De Juegos<a/><br/>
			<a href="../html/Emuladores.html" target="_parent">Emuladores</a>	
		
	    </ul>
		</div>

		<div class="divfoot">
			<span class="spanfoot">Acerca de nosotros</span>

        <ul>
        	<a href="../html/vision.html" target="_parent" class="menuhead">Vision</a><br/> 
			<a href="../html/mision.html" target="_parent" class="menuhead">Mision</a><br/> 
			<a href="../html/registrarse.html" target="_parent" class="menuhead">Registrarse</a><br/>
			<a href="../html/contactenos.html" target="_parent" class="menuhead">Contactenos</a><br/> 
            <a href="../html/Ingresar.html" target="_parent" class="menuhead">Iniciar sesion</a><br/>
			<a href="../html/acerca.html" target="_parent" class="menuhead">Que Hacemos</a><br/> 
			<a href="../html/quienessomos.html" target="_parent" class="menuhead">Quienes Somos</a><br/>
			<a href="../index.html" target="_parent" class="menuhead">Pagina principal</a><br/>
        </ul>

		</div>

		<div class="divfoot">
			<span class="spanfoot">Siguenos..</span>

		<ul>
			<a href="https://www.facebook.com/" class="links" target="_blank">Facebook</a><br/>
			<a href="https://www.instagram.com/?hl=en" class="links" target="_blank">Instagram</a><br/>
            <a href="https://co.pinterest.com/" class="links" target="_blank">Pinterest</a><br/>
            <a href="https://www.google.com/gmail/about/#" class="links" target="_blank">Gmail</a><br/>
        </ul>
		</div>
		</center>



</body>	
</html>