<DOCTYPE html>
<html lang="es">
<head>
	<title>Header</title>
	<link rel="stylesheet" type="text/css" href="../css/header.css">
</head>	
<body>
<center>
	<div>
        <ul>
        	<a href="../index.html" target="_parent" class="menuhead">Pagina principal</a>
        	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
			<a href="../html/contactenos.html" target="_parent" class="menuhead">Contactenos</a>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
			<a href="../html/quienessomos.html" target="_parent" class="menuhead">Quienes Somos</a> 
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
			<a href="../html/acerca.html" target="_parent" class="menuhead">Que Hacemos</a> 
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
			<a href="../html/vision.html" target="_parent" class="menuhead">Vision</a>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
			<a href="../html/mision.html" target="_parent" class="menuhead">Mision</a>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
			<a href="../html/registrarse.html" target="_parent" class="menuhead">Registrarse</a>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
			<a href="../html/Ingresar.html" target="_parent" class="menuhead">Iniciar sesion</a>
			
        </ul>
	</div>	
</center>
</body>	